body {
  background-color: #f0f0f0; /* Color de fondo deseado */
  margin: 0; /* Para asegurar que no haya márgenes por defecto */
  padding: 0; /* Para asegurar que no haya relleno por defecto */
}

@font-face {
  font-family: 'gothamrnd_light';
  src: url('/fonts/gothamrnd_light.otf') format('opentype');
  /* Ajusta la ruta y el formato según la ubicación y el formato de tu fuente */
}

@font-face {
  font-family: 'gothamrnd_bold';
  src: url('/fonts/gothamrnd_bold.otf') format('opentype');
}

@font-face {
  font-family: 'gothamrnd_medium';
  src: url('/fonts/gothamrnd_medium.otf') format('opentype');
}