
.footer {
    background-color: #60595d;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
  }
  
  .footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'gothamrnd_bold';
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .copyrigh {
    font-size: 0.8rem;
  }